header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width :99% ;
    margin: auto;
    padding: 10px 10px;
    height: 70px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 18px;
    font-weight: bold;
    background: rgb(206, 119, 119);
    color: white;
    border-radius: 15px;
}